/* Увеличиваем высоту поля work_name */
textarea#id_work_name {
  height: auto; /* Высота будет адаптироваться к содержимому */
  min-height: 50px; /* Минимальная высота */
  max-height: 200px; /* Максимальная высота */
  overflow: auto; /* Добавляем полосы прокрутки при необходимости */
  width: 100%; /* Ширина на всю доступную область */
}
