{% extends "Accounting_button/base.html" %}
{% block title %}Accountant Dashboard{% endblock %}
{% block content %}
<h1>Accountant Dashboard</h1>
<p>Welcome, {{ user.username }}!</p>

<!-- Ссылка на персональный журнал стандартных операций -->
<a href="{% url 'user_standard_operation_log_list' %}" class="btn btn-secondary mt-3">View My Standard Operation Logs</a>

<!-- Ссылка на персональный журнал нестандартных операций -->
<a href="{% url 'user_unusual_operation_log_list' %}" class="btn btn-secondary mt-3">View My Unusual Operation Logs</a>

<!-- Ссылка на отчет по операциям пользователя -->
<a href="{% url 'user_operations_report' %}" class="btn btn-secondary mt-3">View My Operations Report</a>

<p>Placeholder for accountant content</p>
{% endblock %}
