<!-- templates/Accounting_button/constant_list.html -->
{% extends "Accounting_button/base.html" %}
{% block title %}Constant List{% endblock %}
{% block content %}
<h1>Constant List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Comment</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for constant in constants %}
        <tr>
            <td>{{ constant.name }}</td>
            <td>{{ constant.value }}</td>
            <td>{{ constant.comment }}</td>
            <td>
                <a href="{% url 'constant_edit' constant.id %}" class="btn btn-warning btn-sm">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
