<!-- templates/Accounting_button/deviation_log_confirm_delete.html -->
{% extends "Accounting_button/base.html" %}
{% block title %}Delete Deviation Log{% endblock %}
{% block content %}
<h1>Delete Deviation Log</h1>
<p>Welcome, {{ user.username }}!</p> <!-- Приветствие пользователя -->
<p>Are you sure you want to delete "{{ log }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'deviation_log_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
