<!-- templates/Accounting_button/owner_dashboard.html -->
{% extends "Accounting_button/base.html" %}
{% block title %}Owner Dashboard{% endblock %}
{% block content %}
<h1>Owner Dashboard</h1>
<p>Welcome, {{ user.username }}!</p>

<!-- Кнопки для перехода на различные страницы -->
<a href="{% url 'constant_list' %}" class="btn btn-primary">View Constants</a>
<a href="{% url 'client_list' %}" class="btn btn-primary">View Clients</a>
<a href="{% url 'user_list' %}" class="btn btn-primary">View Users</a>

{% endblock %}
